.grid {
	margin: 0px auto;
	padding: 0;
	font-size: 11pt;
	color: #666;
	border-collapse: collapse;
	border-spacing: 0px;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: break-all;
}

td.grid_td {
	margin: 0;
	padding: 0;
	border: 1px solid #eee;
	font-size: 11pt;
	line-height: 28px;
	height: 28px;
	padding: 5px 0;
}

.layui-table tr {
    background-color: #ffffff;
}

.layui-table[lay-even] tr:nth-child(even) {
    background-color: #f6f6f6;
}

.layui-table[lay-even] tr:nth-child(even).active {
    background-color: #dff0d8;
}

.layui-table tr.active {
    background-color: #dff0d8;
}

.layui-table tr:hover {
    background-color: #fefefe;
}

.layui-table[lay-even] tr:nth-child(even):hover {
    background-color: #f0f0f0;
}

.layui-table tr.active:hover {
    background-color: #d0e9c6;
}

.layui-table[lay-even] tr:nth-child(even).active:hover {
    background-color: #d0e9c6;
}