/* CSS Document */
html {
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.standard_toolbar {
    margin: 0px auto;
    font-size: 11pt;
    color: #333333;
    border-collapse: collapse; /*细线表格*/
    table-layout: fixed;
    word-break: break-all;
}

img {
    border: none;
}

a.toobar_item {
    display: block;
    padding: 0px 0px;
    margin: 1px;
    border: 0px;
    text-decoration: none;
    height: 30px;
    border: 1px #ccc solid;
    font: 12px 宋体, "Arial Narrow", arial, serif;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}

a.toobar_item:hover {
    color: #000;
    background: #eee;
}

a.toobar_item:active {
    color: #000;
}

a.toobar_item.checked {
    background: #e3e3e3;
}

a.dialog_item {
    margin-top: 2px;
    height: 19px;
    border: 0px;
    text-decoration: none;
}

a.dialog_item:hover {
    border-left: 1px #c0c0c0 solid;
    border-right: 1px #c0c0c0 solid;
}

button {
    cursor: pointer;
}

#showdivt {
	display: none;
	background: #F5F5F5;
	border: 1px solid #C9DCA6;
	width: 100px;
	position: absolute;
	z-index: 30;
}

#showdivt li a:hover {
	background: #CCCCFF;
	color: #036;
	text-decoration: none;
}

.buttnew {
	width: 56px;
	height: 17px;
	line-height: 18px;
	margin-top: 4px;
	border: 0;
	color: #2F4F4F;
}