*{
    font-size: 11pt;
}
/* CSS Document */
html {
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
}

.standard_toolbar {
    margin: 0 auto;
    font-size: 11pt;
    color: #333333;
    border-collapse: collapse; /*细线表格*/
    table-layout: fixed;
    word-break: break-all;
}

img {
    border: none;
}

a.toobar_item {
    display: block;
    margin: 1px;
    text-decoration: none;
    height: 30px;
    border: 1px #ccc solid;
    font: 12px 宋体, "Arial Narrow", arial, serif;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 4px;
}

a.toobar_item:hover {
    color: #000;
    background: #eee;
}

a.toobar_item:active {
    color: #000;
}

a.toobar_item.checked {
    background: #e3e3e3;
}

a.dialog_item {
    margin-top: 2px;
    height: 19px;
    border: 0;
    text-decoration: none;
}

a.dialog_item:hover {
    border-left: 1px #c0c0c0 solid;
    border-right: 1px #c0c0c0 solid;
}

button {
    cursor: pointer;
}

#showdivt {
	display: none;
	background: #F5F5F5;
	border: 1px solid #C9DCA6;
	width: 140px;
	position: absolute;
	z-index: 999;
}

#showdivt ul li{
    border-bottom: 1px solid #C9DCA6;
    padding: 2px;
}

#showdivt ul li:hover {
	background: #eeeeee;
}

.buttnew {
	height: 25px;
	line-height: 25px;
	border: 0;
}

.buttnew:disabled img{
    filter: grayscale(100%);
}