alembic==1.5.3
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-Migrate==2.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
PyMySQL==1.0.2
python-dateutil==2.8.1
python-editor==1.0.4
setuptools==52.0.0
six==1.15.0
SQLAlchemy==1.3.23
Werkzeug==1.0.1
wheel==0.36.2
WTForms==2.3.3
Flask-Excel==0.0.7
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0
pyexcel-ods==0.6.0
xlsxwriter~=3.0.3
gevent~=21.12.0
pillow~=9.1.0