<html lang="zh_CN">
{% include "common/table_page_head.html" %}
<body style="overflow: hidden;">
<div class="layui-fluid">
    <script type="text/html" id="list_toolbar">
        <div class="layui-btn-container" style="padding-top: 1px;">
            <div style='float:left; height: 30px;'>
                <button class="layui-btn layui-btn-sm" lay-event="refreshData"><span
                        class='glyphicon glyphicon-repeat'></span>&nbsp;刷新
                </button>
            </div>
            <div class='input-group input-group-sm' style='float:left; width:280px; height: 30px;'>
                <input type="text" id="query_text" value="{{ search_text }}" placeholder="快速查询..." class='form-control'>
                <span class='input-group-btn'>
                    <button class='btn btn-default' lay-event="quickQuery"><span
                            class='glyphicon glyphicon-search'></span>查询</button>
                </span>
            </div>
        </div>
    </script>
    <table lay-filter="datalist" class="layui-table" id="datalist">
        <thead>
        <tr>
            <th lay-data="{field: 'sid', hide: true}"></th>
            <th lay-data="{field:'sactivityname', width:150}">功能名称</th>
            <th lay-data="{field:'sprocessname'}">功能模块</th>
            <th lay-data="{field:'screatorpersonname', width:100}">操作者</th>
            <th lay-data="{field:'sactionname', width:200}">操作</th>
            <th lay-data="{field:'screatetime', width:160}">操作时间</th>
            <th lay-data="{field:'stypename', width:100}">操作类别</th>
            <th lay-data="{field:'sip', width:160}">IP地址</th>
            <th lay-data="{field:'sdescription'}">描述</th>
        </tr>
        </thead>
        <tbody>
        {% for d in page_data.items %}
            <tr>
                <td>{{ d.sid }}</td>
                <td>{{ d.sactivityname }}</td>
                <td>{{ d.sprocessname }}</td>
                <td>{{ d.screatorpersonname }}</td>
                <td>{{ d.sactionname }}</td>
                <td>{{ d.screatetime }}</td>
                <td>{{ d.stypename }}</td>
                <td>{{ d.sip }}</td>
                <td>{{ d.sdescription }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="data_list_page"></div>
</div>
</body>
<script type="text/javascript">
    layui.use(['table', 'laypage'], function () {
        var table = layui.table;
        var laypage = layui.laypage;
        //初始化数据表格
        table.init('datalist',
            {
                toolbar: '#list_toolbar',
                defaultToolbar: ['exports'],
                height: 'full-80',
                page: false,
                limit: 20
            }
        );
        //头工具栏事件
        table.on('toolbar(datalist)', function (obj) {
            switch (obj.event) {
                case 'refreshData':
                    window.location.reload();
                    break;
                case 'quickQuery':
                    window.location.href = "/system/logs?search_text=" + J_u_encode($("#query_text").val());
                    break;
            }
        });
        $("#query_text").keyup(function (event) {
            if (event.keyCode == 13) {
                window.location.href = "/system/logs?search_text=" + J_u_encode($("#query_text").val());
            }
        });
        //执行一个laypage实例
        laypage.render({
            elem: 'data_list_page', //注意，这里的ID，不用加 # 号
            count: {{ count }}, //数据总数，从服务端得到
            limit: {{ limit }}, //每页行数
            limits: [10, 20, 30, 40, 50],
            curr: {{ page }}, //当前页码
            jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                //console.log(obj.limit); //得到每页显示的条数
                //首次不执行
                if (!first) {
                    window.location.href = "/system/logs?page=" + obj.curr + "&limit=" + obj.limit + "&search_text=" + J_u_encode($("#query_text").val());
                }
            }
        });
    });
</script>
</html>