<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TLv8平台</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/justified.css')}}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='jquery-easyui/themes/default/easyui.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static',filename='jquery-easyui/themes/icon.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css')}}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='common/css/table.css')}}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='common/css/toolbar.css') }}"></link>
    <script type="text/javascript" src="{{ url_for('static',filename='common/js/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='common/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui/jquery.easyui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui/locale/easyui-lang-zh_CN.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='layui/layui.js')}}"></script>
</head>
