<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/justified.css') }}" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-easyui/themes/default/easyui.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-easyui/themes/icon.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='common/css/table.css') }}" media="all">
    <script type="text/javascript" src="{{ url_for('static',filename='common/js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='common/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui/jquery.easyui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-easyui/locale/easyui-lang-zh_CN.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='layui/layui.js') }}"></script>
</head>
