<html lang="zh_CN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>机构管理</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',filename='common/css/zTreeStyle/zTreeStyle.css') }}"></link>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='common/css/toolbar.main.css') }}"></link>
    <script type="text/javascript" src="{{ url_for('static',filename='common/js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='common/js/jquery/jquery.ztree.core-3.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='common/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='common/jTree/tree.main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='layui/layui.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='system/OPM/organization.js',v='1.20220517.1') }}"></script>
</head>
<body onload="pageLoad()">
<div class="layui-fluid" style="background: #dddddd; padding: 20px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">机构树</div>
                <div class="layui-card-body" style="height: 89%; padding: 1px;">
                    <form id="main_org_trr" style="display: none;"></form>
                    <div style="width:100%; height:100%; overflow: hidden;">
                        <ul id="JtreeView" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header">机构列表</div>
                <div class="layui-card-body" style="height: 89%; padding: 1px;" id="list_view">
                    <table class="layui-hide" id="orglist" lay-filter="orglist"></table>
                    <script type="text/html" id="list_toolbar">
                        <div class="layui-btn-container" style="padding-top: 1px;">
                            <div style='float:left; height: 30px;'>
                                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="addData"
                                        id="addOrgItem"><span
                                        class='glyphicon glyphicon-plus'></span>&nbsp;新增
                                </button>
                                <button class="layui-btn layui-btn-sm" lay-event="refreshData"><span
                                        class='glyphicon glyphicon-repeat'></span>&nbsp;刷新
                                </button>
                                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="sortData">↑↓&nbsp;排序
                                </button>
                            </div>
                            <div class='input-group input-group-sm' style='float:left; width:280px; height: 30px;'>
                                <input type="text" name="query_text" placeholder="快速查询..." class='form-control'>
                                <span class='input-group-btn'>
                                    <button class='btn btn-default' lay-event="quickQuery"><span
                                            class='glyphicon glyphicon-search'></span>查询</button>
                                </span>
                            </div>
                        </div>
                    </script>
                    <script type="text/html" id="actionBar">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="resetPass">重置密码</a>
                        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="cancelPar">取消分配</a>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="setMainOrg">设置所属部门</a>
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="move">移动</a>
                        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="disable">禁用/启用</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="showdivt" style="display: none;">
    <ul>
        <li style="border-bottom: 1px solid #C9DCA6;">
            <a href="javascript:void(0);" title="新建组织">
                <img src="{{ url_for('static',filename='common/image/toolbar/org/newOgn.gif') }}"
                     style="margin-top: 1px;"/>
                <button class="buttnew" id="ogn" onclick="newognData('ogn')">新建组织</button>
            </a>
        </li>
        <li style="border-bottom: 1px solid #C9DCA6;">
            <a href="javascript:void(0);" title="新建部门">
                <img src="{{ url_for('static',filename='common/image/toolbar/org/newDpt.gif') }}"
                     style="margin-top: 1px;"/>
                <button class="buttnew" id="dpt" onclick="newognData('dpt')" disabled>新建部门</button>
            </a>
        </li>
        <li style="border-bottom: 1px solid #C9DCA6;">
            <a href="javascript:void(0);" title="新建岗位">
                <img src="{{ url_for('static',filename='common/image/toolbar/org/newPos.gif') }}"
                     style="margin-top: 1px;"/>
                <button class="buttnew" id="pos" onclick="newognData('pos')" disabled>新建岗位</button>
            </a>
        </li>
        <li style="border-bottom: 1px solid #C9DCA6;">
            <a href="javascript:void(0);" title="新建人员">
                <img src="{{ url_for('static',filename='common/image/toolbar/org/newPerson.gif') }}"
                     style="margin-top: 1px;"/>
                <button class="buttnew" id="psm" onclick="newPsmData()" disabled>新建人员</button>
            </a>
        </li>
        <li style="border-bottom: 1px solid #C9DCA6;">
            <a href="javascript:void(0);" title="分配人员">
                <img src="{{ url_for('static',filename='common/image/toolbar/org/newPerson.gif') }}"
                     style="margin-top: 1px;"/>
                <button class="buttnew" id="assignPerson" onclick="assignPsmData()" disabled>分配人员</button>
            </a>
        </li>
    </ul>
</div>
</body>
<script>
    layui.use('table', function () {
        var table = layui.table;

        loadList();

        //头工具栏事件
        table.on('toolbar(orglist)', function (obj) {
            switch (obj.event) {
                case 'addData':
                    addorgitem();
                    break;
                case 'refreshData':
                    loadList(currenttreeID);
                    break;
                case 'sortData':
                    layui.layer.alert("排序");
                    break;
                case 'quickQuery':
                    layui.layer.alert("查询");
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(orglist)', function (obj) {
            var data = obj.data;
            console.log(obj)
            if (obj.event === 'edit') {
                editOrgData(data);
            }
            if (obj.event === 'del') {

            }
        });

    });
</script>
</html>